@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mogra", sans-serif;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22rem;
}

a {
    text-decoration: none;
    margin: 0 2.5rem 0 2.5rem;
    font-size: 30px;
    color: blueviolet;
    display: flex;
    margin: 20px;
}